<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<head>
    <title>Carlos Pena</title>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/style.css' | relative_url }}">
</head>

<body>

    <header>
        <span class="logo"><a href="/">Carlos Pena</a></span>
        <ul class="navigation">
            {% assign sorted = site.pages | sort: 'order' %}
            {% for page in sorted %}
            {% if page.title %}
            <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </header>

    {{ content }}
</body>

</html>
